<p id="notice"><%= notice %></p>
<ul class="list-unstyled">
  <li class="media">
  <% @posts.each do |post| %>
    <%= video_tag post.video.to_s, :size => "360x200" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= post.title %></h5>
      動画の説明
    </div>
  </li>
  <% end %>
</ul>